@model IEnumerable<FitnessTrackerV1.Models.Routine>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <h3>Routines:</h3>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RoutineName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoutineGoal)
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoutineName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoutineGoal)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
